streamlit>=1.30

pandas>=2.0
numpy>=1.24

seaborn>=0.13
matplotlib>=3.8
plotly>=5.18

streamlit-option-menu>=0.3.6

geopandas==0.14.3
shapely==2.0.3
pyproj==3.6.1
fiona==1.9.6

gdown>=5.1.0
kagglehub>=0.2.5
